html, body {
    height: 100%;
    margin: 0;
}

.blur {
    -webkit-filter: blur(20px);
}  
      
.background {
    background-image: url('./picture/background.jpg');
    background-size:100%;
    width: 100%;
    height: 100%;
    min-height: 100%;    
}

.unselectable {
    user-select: none;
    user-drag: none;
    -moz-user-select: none;
    -moz-user-drag: none;
    -khtml-user-select: none;
    -khtml-user-drag: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -o-user-select: none;
    -o-user-drag: none;
} 

.div_center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

div.background {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
   /* z-index: -1;*/
}

div.workspace {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

/* Dialog */
div.dialog {
    background: #e6ff99;
    border-radius: 10px;
    border-style: groove;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

div.app_pool {
    margin: 30px;
    padding: 0px;
    border: 0px;    
}

div.app_icon {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 0px;
}

.main-container {
    float: left;
    position: relative;
    left: 50%;
}

.fixer-container {
    float: left;
    position: relative;
    left: -50%;
}